@model CommonModel.ErrorCommon
@{
    ViewData["Title"] = "Error";
}
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title" id="myModalLabel"> <span>mis</span>facturas</h1>
            </div>
            <div class="modal-body">
                <p>Ha ocurrido un error en @Model.Site, @Model.UserMessage.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script src="~/Scripts/lib/jquery/dist/jquery.js"></script>
<script src="~/Scripts/lib/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myModal').modal({ show: true });
    });
</script>