@using CommonModel;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MisFacturasWeb</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link href="~/Scripts/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Content/Css/animate.css" rel="stylesheet" />
    <link href="~/Content/Css/jquery.steps.css" rel="stylesheet" />
    <link href="~/Content/Css/clndr.css" rel="stylesheet" />
    <link href="~/Content/Css/main.css" rel="stylesheet" />
    <link href="~/Content/Site/site.css" rel="stylesheet" />
</head>

<body>
    <section id="main-wrapper" class="theme-blue-full">
        @if (ViewBag.ErrorMesage != null)
        {
            @await Html.PartialAsync("_Error", (ErrorCommon)ViewBag.ErrorMesage)
        }
        @await Component.InvokeAsync("LeftSidebar")

        <section class="main-content-wrapper">
            @RenderBody()
        </section>
    </section>
    <script src="~/Scripts/lib/jquery/dist/jquery.js"></script>
    <script src="~/Scripts/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Scripts/lib/bootstrap/dist/js/popper.min.js"></script>
    <script src="~/Scripts/ManageSite/Public/LeftSidebar.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
