
@model MisFacturasWeb.Models.LogginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Boolean logginFail = false;
    if (ViewBag.TempLoginFail != null)
    {
        logginFail = true;
    }
}
<section class="container animated fadeInUp">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="login-wrapper">
                <header>
                    <div class="brand">
                        <img src="~/Images/logo-login.png" style="width: 70%; margin-top: 22px" />
                    </div>
                </header>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Mis Facturas
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>Ingreso.</p>
                        <form asp-action="Loggin" class="form-horizontal" role="form" name="formLogin" novalidate="" autocomplete="off">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input asp-for="Username" type="text" class="form-control" id="email" placeholder="Usuario" required>
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password" required>
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                            @if (logginFail)
                            {
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <span class="text-danger">Usuario o contraseña incorrectos</span>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                                    <hr />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>



























